$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Oswald', serif;
$line-height-default: 1.4;


/*#region text */
.no-wrap {
    white-space: nowrap !important;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-upper {
    text-transform: uppercase !important;
}

.text-lower {
    text-transform: lowercase !important;
}

.text-underlined {
    text-decoration: underline !important;
}
/*#endregion */
