/*#region margins */
.mg-top-0 {
    margin-top: 0 !important;
}

.mg-top-xs {
    margin-top: 5px !important;
}

.mg-top-sm {
    margin-top: 10px !important;
}

.mg-top-md {
    margin-top: 20px !important;
}

.mg-top-lg {
    margin-top: 30px !important;
}

.mg-top-xl {
    margin-top: 40px !important;
}

.mg-bottom-0 {
    margin-bottom: 0 !important;
}

.mg-bottom-xs {
    margin-bottom: 5px !important;
}

.mg-bottom-sm {
    margin-bottom: 10px !important;
}

.mg-bottom-md {
    margin-bottom: 20px !important;
}

.mg-bottom-lg {
    margin-bottom: 30px !important;
}

.mg-bottom-xl {
    margin-bottom: 40px !important;
}

.mg-left-0 {
    margin-left: 0 !important;
}

.mg-left-xs {
    margin-left: 5px !important;
}

.mg-left-sm {
    margin-left: 10px !important;
}

.mg-left-md {
    margin-left: 20px !important;
}

.mg-left-lg {
    margin-left: 30px !important;
}

.mg-left-xl {
    margin-left: 40px !important;
}

.mg-right-0 {
    margin-right: 0 !important;
}

.mg-right-xs {
    margin-right: 5px !important;
}

.mg-right-sm {
    margin-right: 10px !important;
}

.mg-right-md {
    margin-right: 20px !important;
}

.mg-right-lg {
    margin-right: 30px !important;
}

.mg-right-xl {
    margin-right: 40px !important;
}
/*#endregion */

/*#region paddings */
.pd-top-0 {
    padding-top: 0 !important;
}

.pd-top-xs {
    padding-top: 5px !important;
}

.pd-top-sm {
    padding-top: 10px !important;
}

.pd-top-md {
    padding-top: 20px !important;
}

.pd-top-lg {
    padding-top: 30px !important;
}

.pd-top-xl {
    padding-top: 40px !important;
}

.pd-bottom-0 {
    padding-bottom: 0 !important;
}

.pd-bottom-xs {
    padding-bottom: 5px !important;
}

.pd-bottom-sm {
    padding-bottom: 10px !important;
}

.pd-bottom-md {
    padding-bottom: 20px !important;
}

.pd-bottom-lg {
    padding-bottom: 30px !important;
}

.pd-bottom-xl {
    padding-bottom: 40px !important;
}

.pd-left-0 {
    padding-left: 0 !important;
}

.pd-left-xs {
    padding-left: 5px !important;
}

.pd-left-sm {
    padding-left: 10px !important;
}

.pd-left-md {
    padding-left: 20px !important;
}

.pd-left-lg {
    padding-left: 30px !important;
}

.pd-left-xl {
    padding-left: 40px !important;
}

.pd-right-0 {
    padding-right: 0 !important;
}

.pd-right-xs {
    padding-right: 5px !important;
}

.pd-right-sm {
    padding-right: 10px !important;
}

.pd-right-md {
    padding-right: 20px !important;
}

.pd-right-lg {
    padding-right: 30px !important;
}

.pd-right-xl {
    padding-right: 40px !important;
}
/*#endregion */
