/// <reference path="_colors.scss" />
/// <reference path="_fonts.scss" />

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: url('/images/bg-coniferous-forest-in-fog-1920x1280.jpg') top center fixed no-repeat;
    background-size: cover;
}

body {
    font-family: $font-family-primary;
    line-height: $line-height-default;
    color: $color-text-default;
}

h1, h2, h3, h4 {
    font-family: $font-family-secondary;
    font-weight: 600;
    color: $color-text-darkest;
}

h1 {
    font-size: 56px;
    text-shadow: 1px 1px 2px $color-neutral-dark;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px;

    & > .intro {
        font-family: $font-family-primary;
        font-size: 16px;
        color: $color-text-default;
        text-shadow: none;
        font-weight: 600;
        display: block;
        text-transform: none;
        margin-top: 10px;
    }
}

h2 {
    padding: 10px 20px 10px 25px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    background: $color-neutral-light;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-left: 6px solid $color-brand-accent-default;
        content: '';
    }
}

h3 {
    font-size: 22px;
    margin: 20px 0 10px;

    & > small {
        margin-left: 5px;
        font-size: 16px;
        color: $color-text-light;
        font-weight: 400;
    }
}

.a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $color-brand-accent-dark;
    font-weight: 600;
    border-bottom: 1px solid $color-brand-accent-dark;
    display: inline;
    outline: none !important;
    cursor: pointer;

    &:hover, &:active, &:focus {
        border-bottom-color: transparent;
    }
}


p {
    margin-bottom: 10px;
}

strong, b, .strong {
    font-weight: 600;
}
