
@{
    ViewBag.PageId = "page-home";
    ViewBag.Title = "Roman Martyniuk | Senior Full Stack .NET Developer";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.CanonicalUrl = "https://roman-martyniuk.github.io";
}

<h1>
    Senior Full Stack .NET Developer
    <span class="intro">Creative and dedicated professional with more than 8 years of experience working in Forex & Financial markets</span>
</h1>

<div class="mg-top-xl">
    <a class="btn lg primary" href="/profile.html" title="Professional Profile">Profile</a>
    <a class="btn lg accent" href="https://github.com/roman-martyniuk?tab=repositories" target="_blank" title="GitHub Repositories">Repositories</a>
</div>

