
@{
    ViewBag.PageId = "page-projects";
    ViewBag.Title = "Roman Martyniuk | Recent Projects";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.CanonicalUrl = "https://roman-martyniuk.github.io/projects.html";
}

<h1>My Recent Projects</h1>
<p class="intro">Creative and dedicated professional with more than 8 years of experience working in all aspects of business</p>
