/// <reference path="../common/_colors.scss" />
/// <reference path="../common/_fonts.scss" />
/// <reference path="../common/_helpers.scss" />
/// <reference path="../common/_responsive.scss" />

#main {
    padding-top: 80px;

    .page {
        background: white;
        margin-top: 40px;
        padding: 40px 40px 60px;
    }
}
